TestResults
TestResult.xml
[Bb]in/
[Oo]bj/
bin-tests/
packages/
Debug/
Release/
.hg/
.hgignore
Logs
CVS
Gemfile.lock
.cvsignore
.svn
.#*
_ReSharper.*
~$*.*
*.suo
*.user
*.bak
*.orig
*.tmp
*.Publish.xml
*.nupkg
_UpgradeReport*
UpgradeLog.XML
